.card-title {
    color: white;
}

.back-card {
    background-color: rgb(32, 116, 172);
}

.btn-task {
    max-width: 400px;
    padding-left:25px;
    padding-right:25px;


}

.custom-task-button {
    margin:5px;
    min-width: 50px;
}

.custom-col-1{
    text-align: center;
}

.custom-col-2{

}

.custom-div {

}

.custom-taskname {
    padding: 10px 0;
    text-align: center;
}

.newText {
    border-radius: 10px;
}

.card-none{
    background-color: white;
    border: 0;
}

.card-show{
    background-color: rgb(212, 212, 212); 
    margin: auto;
}