body {
    background-color: #121212;
    margin-bottom: 60px;
    
}

html {
    position: relative;
  }

.nav {
    background-color: #252422;
    height: 5vh;
}

.nav-link, li {
    opacity:0;
    color: #D17A22;
    font-family: "Consolas";
    text-decoration: none;
    font-size: 2vh;
    height: 100%;
    padding: auto;
}

.nav-link:hover {
    color: white;
    cursor: default;
}

.currentPage {
    background-color: #201f1e;
}

#landing-page-header-text {
    margin: auto;
    text-align: center;
}

mark, a {
    text-decoration: none;
    background-color: transparent;
    color: #D17A22;
    font-family: "Consolas"
}

a:hover {
    color: rgb(90, 95, 97);
}


.landing-text {
    opacity:0;
    color: white;
    font-family: "Consolas";
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
}

.row {
    margin: 3rem;
}

#profilePic {
    opacity:0;
    border: 5px solid #555;
    border-radius: 100%;
    height: 100%;
    width: auto;
    max-height: 50vh;
}

.material-icons {
    opacity:0;
    font-size: 4vh !important;
    padding: 0.7rem;
}

/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #252422;
    justify-content: space-between;
  } */


.card {
    background-color: #252422;
    margin: 10px;
}

#first-article.card:hover {
    background-color: #3a3938;
}

#second-article.card:hover {
    background-color: #3a3938;
}
.noHover {
    pointer-events:none;
}

#article:hover {
background-color: #252422;
}
.card-title {
    color: #D17A22;
}

.card-text {
    color: rgb(163, 163, 163);
}

.social-media-icons {
    opacity:0;
    height: 3vh;
    width: auto;
    margin: 10px 20px;
}

.email-icon {
    background-color: white !important;
    border-radius: 4px !important;
}

p {
   font-size: 1.5vh;
}

#about-title {
    font-size: 3vh;
}

