
.navbar-home {
    background-color: lightskyblue;
}

a, #phone{
    text-decoration: none;
    color: rgb(108, 108, 117);
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
}

a:hover, #dropdownMenuLink:hover {
    color: rgb(56, 56, 61);
}

.navImage {
    height: auto;
    width: 150px;
}

#logo {
    padding-left: 30px;
    padding-top: 4px;
}

#dropdownMenuLink {
    color:rgb(108, 108, 117);
}

#phone-nav {
    justify-content: right;
}

.navbar-left {
    justify-content: left;
}

.navbar-right {
    justify-content: right;
}

